body {
	font-family: "Times New Roman";
	font-size: 12px;
	background-color: beige;
}

h3 {
	text-align: center;
	margin-bottom: 12px;
}

table {
	border-collapse: collapse;
	position: relative;
	margin: auto;
	color: black;
}

table th,
table td {
	border: 1px solid black;
	padding: 7px 17px;
	text-align: center;
}
table thead th {
	background-color: hotpink;
	color: white;
	border-color: purple;
	text-transform: uppercase;
}

table tbody td {
	color: black;
}

table tbody tr:nth-child(odd) td {
	border-color: black;
}
table tbody tr:hover td {
	background-color: plum;
	border-color: purple;
	transition: all .3s;

}